In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection, preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

In [23]:
df=pd.read_csv(r'C:\Users\aditya_jyoti\Documents\Docs\Hackathon\train_Df64byy.csv')

In [24]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [25]:
# df=df.fillna('')

In [26]:
df1=df.copy()

In [5]:
df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [6]:
df.T.apply(lambda x: x.nunique(), axis=1)

ID                         50882
City_Code                     36
Region_Code                 5316
Accomodation_Type              2
Reco_Insurance_Type            2
Upper_Age                     58
Lower_Age                     60
Is_Spouse                      2
Health Indicator               9
Holding_Policy_Duration       15
Holding_Policy_Type            4
Reco_Policy_Cat               22
Reco_Policy_Premium         6977
Response                       2
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [49]:
# df['Holding_Policy_Type']=df['Holding_Policy_Type'].fillna(0)
# df['Holding_Policy_Duration']=df['Holding_Policy_Duration'].fillna(0)
# df['Health Indicator']=df['Health Indicator'].fillna(0)

In [27]:
df['Holding_Policy_Duration']=df['Holding_Policy_Duration'].replace('14+',15)

In [28]:
df=df.astype({"Holding_Policy_Type":'category', "Reco_Policy_Cat":'category',"City_Code":'category',"Accomodation_Type":'category',"Reco_Insurance_Type":'category',"Holding_Policy_Duration":'category',"Is_Spouse":'category',"Health Indicator":'category','Region_Code':'category'})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  category
 2   Region_Code              50882 non-null  category
 3   Accomodation_Type        50882 non-null  category
 4   Reco_Insurance_Type      50882 non-null  category
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  category
 8   Health Indicator         50882 non-null  category
 9   Holding_Policy_Duration  50882 non-null  category
 10  Holding_Policy_Type      50882 non-null  category
 11  Reco_Policy_Cat          50882 non-null  category
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: category(9), float64(1), int64(4)
memory usage: 2.6 MB

In [29]:
#No missing values in num variables
num_vars=df.columns[df.dtypes!='category']
cat_vars=df.columns[df.dtypes=='category']

In [49]:
df1[cat_vars].isnull().sum().sort_values(ascending=False)

Holding_Policy_Type        20251
Holding_Policy_Duration    20251
Health Indicator           11691
Reco_Policy_Cat                0
Is_Spouse                      0
Reco_Insurance_Type            0
Accomodation_Type              0
Region_Code                    0
City_Code                      0
dtype: int64

In [48]:
df2['Health Indicator'].value_counts()

0.0    13010
1.0    10332
2.0     6762
3.0     5743
4.0     1727
5.0     1280
6.0      196
7.0       78
8.0       63
Name: Health Indicator, dtype: int64

In [37]:
df['Health Indicator']=df['Health Indicator'].cat.codes
df['Health Indicator']=df['Health Indicator'].replace(-1, np.nan)
# df1['Health Indicator'].isnull().sum()

In [59]:
df2=pd.get_dummies(df, columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse'])

In [62]:
df2.head()

,ID,Region_Code,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,...,City_Code_C6,City_Code_C7,City_Code_C8,City_Code_C9,Accomodation_Type_Owned,Accomodation_Type_Rented,Reco_Insurance_Type_Individual,Reco_Insurance_Type_Joint,Is_Spouse_No,Is_Spouse_Yes
0,1,3213,36,36,0.0,15,3.0,22,11628.0,0,...,0,0,0,0,0,1,1,0,1,0
1,2,1117,75,22,1.0,NaN,NaN,22,30510.0,0,...,0,0,0,0,1,0,0,1,1,0
2,3,3732,32,32,NaN,1.0,1.0,19,7450.0,1,...,0,0,0,0,1,0,1,0,1,0
3,4,4378,52,48,0.0,15,3.0,19,17780.0,0,...,0,0,0,0,1,0,0,1,1,0
4,5,2190,44,44,1.0,3.0,1.0,16,10404.0,0,...,0,0,1,0,0,1,1,0,1,0

In [9]:
import datawig

In [16]:
df['Health Indicator'].isnull().sum()

0

In [19]:
df2.columns

Index(['ID', 'Region_Code', 'Upper_Age', 'Lower_Age', 'Health Indicator',
       'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat',
       'Reco_Policy_Premium', 'Response', 'City_Code_C1', 'City_Code_C10',
       'City_Code_C11', 'City_Code_C12', 'City_Code_C13', 'City_Code_C14',
       'City_Code_C15', 'City_Code_C16', 'City_Code_C17', 'City_Code_C18',
       'City_Code_C19', 'City_Code_C2', 'City_Code_C20', 'City_Code_C21',
       'City_Code_C22', 'City_Code_C23', 'City_Code_C24', 'City_Code_C25',
       'City_Code_C26', 'City_Code_C27', 'City_Code_C28', 'City_Code_C29',
       'City_Code_C3', 'City_Code_C30', 'City_Code_C31', 'City_Code_C32',
       'City_Code_C33', 'City_Code_C34', 'City_Code_C35', 'City_Code_C36',
       'City_Code_C4', 'City_Code_C5', 'City_Code_C6', 'City_Code_C7',
       'City_Code_C8', 'City_Code_C9', 'Accomodation_Type_Owned',
       'Accomodation_Type_Rented', 'Reco_Insurance_Type_Individual',
       'Reco_Insurance_Type_Joint', 'Is_Spouse_No', 'Is_Spouse_Yes'],
      dtype='object')

In [94]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
data_with_imputed_values = pd.DataFrame(my_imputer.fit_transform(df2))

In [96]:
data_with_imputed_values.columns=df2.columns
data_with_imputed_values.index=df2.index

In [73]:
train_HI[train_HI.columns[train_HI.dtypes!='category']].columns

Index(['ID', 'Upper_Age', 'Lower_Age', 'Health Indicator',
       'Reco_Policy_Premium', 'Response', 'City_Code_C1', 'City_Code_C10',
       'City_Code_C11', 'City_Code_C12', 'City_Code_C13', 'City_Code_C14',
       'City_Code_C15', 'City_Code_C16', 'City_Code_C17', 'City_Code_C18',
       'City_Code_C19', 'City_Code_C2', 'City_Code_C20', 'City_Code_C21',
       'City_Code_C22', 'City_Code_C23', 'City_Code_C24', 'City_Code_C25',
       'City_Code_C26', 'City_Code_C27', 'City_Code_C28', 'City_Code_C29',
       'City_Code_C3', 'City_Code_C30', 'City_Code_C31', 'City_Code_C32',
       'City_Code_C33', 'City_Code_C34', 'City_Code_C35', 'City_Code_C36',
       'City_Code_C4', 'City_Code_C5', 'City_Code_C6', 'City_Code_C7',
       'City_Code_C8', 'City_Code_C9', 'Accomodation_Type_Owned',
       'Accomodation_Type_Rented', 'Reco_Insurance_Type_Individual',
       'Reco_Insurance_Type_Joint', 'Is_Spouse_No', 'Is_Spouse_Yes'],
      dtype='object')

In [103]:
# imputer = datawig.SimpleImputer(
#     input_columns=['Upper_Age', 'Lower_Age',
#        'Reco_Policy_Premium', 'Response', 'City_Code_C1', 'City_Code_C10',
#        'City_Code_C11', 'City_Code_C12', 'City_Code_C13', 'City_Code_C14',
#        'City_Code_C15', 'City_Code_C16', 'City_Code_C17', 'City_Code_C18',
#        'City_Code_C19', 'City_Code_C2', 'City_Code_C20', 'City_Code_C21',
#        'City_Code_C22', 'City_Code_C23', 'City_Code_C24', 'City_Code_C25',
#        'City_Code_C26', 'City_Code_C27', 'City_Code_C28', 'City_Code_C29',
#        'City_Code_C3', 'City_Code_C30', 'City_Code_C31', 'City_Code_C32',
#        'City_Code_C33', 'City_Code_C34', 'City_Code_C35', 'City_Code_C36',
#        'City_Code_C4', 'City_Code_C5', 'City_Code_C6', 'City_Code_C7',
#        'City_Code_C8', 'City_Code_C9', 'Accomodation_Type_Owned',
#        'Accomodation_Type_Rented', 'Reco_Insurance_Type_Individual',
#        'Reco_Insurance_Type_Joint', 'Is_Spouse_No', 'Is_Spouse_Yes'],
    
#     output_column='Health Indicator',
    
#     output_path = 'imputer_model')

# #Fit an imputer model on the train data
# imputer.fit(train_df=train_HI[train_HI.columns[train_HI.dtypes!='category']])
# predictions = imputer.predict(test_HI[test_HI[test_HI.columns[train_HI.dtypes!='category']].columns])

Note
Standardize holding policy type and holding policy duration after prediction

In [53]:
df[['Region_Code', 'Upper_Age','Lower_Age','Reco_Policy_Premium','Reco_Policy_Cat',]]=StandardScaler().fit_transform(df[['Region_Code', 'Upper_Age','Lower_Age','Reco_Policy_Premium','Reco_Policy_Cat']])

In [38]:
df1[cat_vars].T.apply(lambda x: x.nunique(), axis=1)

City_Code                    36
Region_Code                5316
Accomodation_Type             2
Reco_Insurance_Type           2
Is_Spouse                     2
Health Indicator              9
Holding_Policy_Duration      15
Holding_Policy_Type           4
Reco_Policy_Cat              22
dtype: int64

In [39]:
#Extra one in few cases because null values are filled with 0
df[cat_vars].T.apply(lambda x: x.nunique(), axis=1)

City_Code                    36
Region_Code                5316
Accomodation_Type             2
Reco_Insurance_Type           2
Is_Spouse                     2
Health Indicator             10
Holding_Policy_Duration      16
Holding_Policy_Type           5
Reco_Policy_Cat              22
dtype: int64

In [204]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,1.039425,Rented,Individual,-0.511625,-0.389098,No,X1,15,3.0,1.085830,-0.387852,0
1,2,C5,-0.432415,Owned,Joint,1.741395,-1.197449,No,X2,0,0.0,1.085830,2.477394,0
2,3,C5,1.403874,Owned,Individual,-0.742704,-0.620055,No,0,1.0,1.0,0.612688,-1.021842,1
3,4,C24,1.857504,Owned,Joint,0.412691,0.303775,No,X1,15,3.0,0.612688,0.545682,0
4,5,C8,0.321060,Rented,Individual,-0.049467,0.072817,No,X2,3.0,1.0,0.139547,-0.573588,0

In [203]:
df.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium', 'Response'],
      dtype='object')

In [207]:
df2.columns

Index(['ID', 'Region_Code', 'Upper_Age', 'Lower_Age', 'Health Indicator',
       'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat',
       'Reco_Policy_Premium', 'Response', 'City_Code_C1', 'City_Code_C10',
       'City_Code_C11', 'City_Code_C12', 'City_Code_C13', 'City_Code_C14',
       'City_Code_C15', 'City_Code_C16', 'City_Code_C17', 'City_Code_C18',
       'City_Code_C19', 'City_Code_C2', 'City_Code_C20', 'City_Code_C21',
       'City_Code_C22', 'City_Code_C23', 'City_Code_C24', 'City_Code_C25',
       'City_Code_C26', 'City_Code_C27', 'City_Code_C28', 'City_Code_C29',
       'City_Code_C3', 'City_Code_C30', 'City_Code_C31', 'City_Code_C32',
       'City_Code_C33', 'City_Code_C34', 'City_Code_C35', 'City_Code_C36',
       'City_Code_C4', 'City_Code_C5', 'City_Code_C6', 'City_Code_C7',
       'City_Code_C8', 'City_Code_C9', 'Accomodation_Type_Owned',
       'Accomodation_Type_Rented', 'Reco_Insurance_Type_Individual',
       'Reco_Insurance_Type_Joint', 'Is_Spouse_No', 'Is_Spouse_Yes'],
      dtype='object')

In [54]:
df.to_csv(r'C:\Users\aditya_jyoti\Documents\Docs\Hackathon\Pre_process1.csv')

In [56]:
print('Holding_Policy_Type----->', df['Holding_Policy_Type'].unique())
print('Holding_Policy_Duration----->', df['Holding_Policy_Duration'].unique())
print('Health Indicator----->', df['Health Indicator'].unique())

Holding_Policy_Type-----> [3.0, 0.0, 1.0, 4.0, 2.0]
Categories (5, float64): [3.0, 0.0, 1.0, 4.0, 2.0]
Holding_Policy_Duration-----> [15, 0, 1.0, 3.0, 5.0, ..., 8.0, 6.0, 4.0, 13.0, 12.0]
Length: 16
Categories (16, object): [15, 0, 1.0, 3.0, ..., 6.0, 4.0, 13.0, 12.0]
Health Indicator-----> [X1, X2, 0, X4, X3, X6, X5, X8, X7, X9]
Categories (10, object): [X1, X2, 0, X4, ..., X5, X8, X7, X9]

In [57]:
train_HPT=df[~(df['Holding_Policy_Type']==0)]
test_HPT=df[(df['Holding_Policy_Type']==0)]

In [62]:
train_HPT.shape

(30631, 12)

In [58]:
train_HPD=df[~(df['Holding_Policy_Duration']==0)]
test_HPD=df[(df['Holding_Policy_Duration']==0)]

In [101]:
train_HI=df[~(df['Health Indicator']==0)]
test_HI=df[(df['Health Indicator']==0)]

In [ ]:
train_HPT[cat_vars].head()

# Train_HI & Test_HI

In [102]:
train_HI=train_HI.drop(['Holding_Policy_Duration','Holding_Policy_Type'],axis=1)

In [103]:
train_HI.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,1.039425,Rented,Individual,-0.511625,-0.389098,No,X1,1.085830,-0.387852,0
1,2,C5,-0.432415,Owned,Joint,1.741395,-1.197449,No,X2,1.085830,2.477394,0
3,4,C24,1.857504,Owned,Joint,0.412691,0.303775,No,X1,0.612688,0.545682,0
4,5,C8,0.321060,Rented,Individual,-0.049467,0.072817,No,X2,0.139547,-0.573588,0
5,6,C9,0.036663,Rented,Individual,0.412691,0.534732,No,X2,1.085830,0.163892,1

In [104]:
train_HI=pd.get_dummies(train_HI, columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse'])

In [105]:
test_HI=test_HI.drop(['Holding_Policy_Duration','Holding_Policy_Type'],axis=1)

In [106]:
test_HI=pd.get_dummies(test_HI, columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse'])

In [122]:
X=train_HI.loc[:, train_HI.columns != 'ID']
y=train_HI['Health Indicator']

In [125]:
X.drop(columns=['Health Indicator'],inplace=True)

C:\Python\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=100)

In [127]:
X_train.head()

,Region_Code,Upper_Age,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Response,City_Code_C1,City_Code_C10,City_Code_C11,City_Code_C12,...,City_Code_C6,City_Code_C7,City_Code_C8,City_Code_C9,Accomodation_Type_Owned,Accomodation_Type_Rented,Reco_Insurance_Type_Individual,Reco_Insurance_Type_Joint,Is_Spouse_No,Is_Spouse_Yes
20966,-0.677488,-0.396085,-0.273619,0.297261,-0.676167,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
14679,-1.093199,0.817079,0.938908,0.139547,-0.279810,1,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
2269,-0.867086,0.932619,0.996647,0.297261,1.119277,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
50484,-1.183784,1.163698,1.285344,1.085830,1.105924,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
20562,-1.010337,-1.204862,-1.081970,0.454975,-0.799081,1,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0

In [165]:
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(y_train)
test_y = encoder.fit_transform(y_test)

In [197]:
strategy = {5:2000,6:2000,7:2000, 8:5000}
sm = SMOTE(sampling_strategy=strategy)
X_train_sm, y_train_sm = sm.fit_resample(X_new, y_n)

In [118]:
train_y

array([0, 0, 0, ..., 0, 1, 0])

In [115]:
unique, counts = np.unique(train_y, return_counts=True)
print(np.asarray((unique, counts)).T)

[[    0 10407]
 [    1  8263]
 [    2  5433]
 [    3  4587]
 [    4  1383]
 [    5  1013]
 [    6   163]
 [    7    54]
 [    8    49]]

In [201]:
from sklearn.ensemble import RandomForestClassifier
weights = {1:1,1:2, 2:4, 3:6, 4:10,5:8, 6:10, 7:12, 8:15}
rndmf = RandomForestClassifier(n_estimators=500,class_weight=weights)
rndmf.fit(X_train_sm, y_train_sm)
y_pred1 = rndmf.predict(X_test)
accuracy_rndmf = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_rndmf)

0.28217884934302845

In [202]:
report = classification_report(test_y,y_pred1)
print(report)

              precision    recall  f1-score   support

           0       0.34      0.51      0.41      2603
           1       0.27      0.29      0.28      2069
           2       0.21      0.13      0.16      1329
           3       0.17      0.08      0.11      1156
           4       0.09      0.02      0.04       344
           5       0.06      0.02      0.03       267
           6       0.00      0.00      0.00        33
           7       0.00      0.00      0.00        24
           8       0.00      0.00      0.00        14

    accuracy                           0.28      7839
   macro avg       0.13      0.12      0.11      7839
weighted avg       0.25      0.28      0.26      7839

In [173]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=600)
gb.fit(np.array(X_train), train_y)
y_pred1 = gb.predict(X_test)
accuracy_gb = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_gb)

0.3247863247863248

In [189]:
report = classification_report(test_y,y_pred1)
print(report)

              precision    recall  f1-score   support

           0       0.34      0.86      0.49      2603
           1       0.29      0.17      0.21      2069
           2       0.00      0.00      0.00      1329
           3       0.00      0.00      0.00      1156
           4       0.00      0.00      0.00       344
           5       0.00      0.00      0.00       267
           6       0.00      0.00      0.00        33
           7       0.00      0.00      0.00        24
           8       0.00      0.00      0.00        14

    accuracy                           0.33      7839
   macro avg       0.07      0.11      0.08      7839
weighted avg       0.19      0.33      0.22      7839

In [155]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.3.3-py3-none-win_amd64.whl (95.2 MB)
Requirement already satisfied: scipy in c:\python\lib\site-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in c:\python\lib\site-packages (from xgboost) (1.18.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.3.3

In [157]:
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
# fit model no training data
from xgboost import XGBClassifier
xgb_classifier = OneVsRestClassifier(XGBClassifier())
xgb_classifier.fit(X_train, train_y)
y_pred1 = xgb_classifier.predict(X_test)
accuracy_xgb = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_xgb)

In [187]:
from sklearn.svm import SVC
svm_classifier = SVC(decision_function_shape='ovr')
svm_classifier.fit(np.array(X_train), train_y)
y_pred1 = svm_classifier.predict(X_test)
accuracy_svm = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_svm)

0.330654420206659

In [188]:
report = classification_report(test_y,y_pred1)
print(report)

              precision    recall  f1-score   support

           0       0.34      0.86      0.49      2603
           1       0.29      0.17      0.21      2069
           2       0.00      0.00      0.00      1329
           3       0.00      0.00      0.00      1156
           4       0.00      0.00      0.00       344
           5       0.00      0.00      0.00       267
           6       0.00      0.00      0.00        33
           7       0.00      0.00      0.00        24
           8       0.00      0.00      0.00        14

    accuracy                           0.33      7839
   macro avg       0.07      0.11      0.08      7839
weighted avg       0.19      0.33      0.22      7839

C:\Python\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [161]:
from sklearn.neural_network import MLPClassifier
snn_classifier = MLPClassifier()
dnns_classifier = OneVsRestClassifier(MLPClassifier(hidden_layer_sizes = [100]*5))
dnns_classifier.fit(np.array(X_train), train_y)
y_pred1 = dnns_classifier.predict(X_test)
accuracy_dnn = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_dnn)

0.24913892078071181

In [162]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(X_train, train_y)
y_pred1 = knn_classifier.predict(X_test)
accuracy_knn = metrics.accuracy_score(test_y,y_pred1)
print(accuracy_knn)

0.28638856997065953

In [146]:
Conf_metrics_log= metrics.confusion_matrix(test_y, y_pred1)

In [147]:
pd.DataFrame(Conf_metrics_log)

   0    1     2     3  4  5  6  7  8
0  0  202  1120  1275  1  5  0  0  0
1  0  163   774  1128  1  3  0  0  0
2  0  112   639   572  1  5  0  0  0
3  0   73   377   705  1  0  0  0  0
4  0   19    96   228  1  0  0  0  0
5  0   20   146   101  0  0  0  0  0
6  0    3     8    22  0  0  0  0  0
7  0    1    10    13  0  0  0  0  0
8  0    1     8     5  0  0  0  0  0

# Train_HPT & Test_HPT

In [60]:
train_HPT[cat_vars].T.apply(lambda x: x.nunique(), axis=1)

City_Code                    36
Region_Code                4966
Accomodation_Type             2
Reco_Insurance_Type           2
Is_Spouse                     2
Health Indicator             10
Holding_Policy_Duration      15
Holding_Policy_Type           4
Reco_Policy_Cat              22
dtype: int64

In [61]:
#Dropping rows with most number of na's.
train_HPT=train_HPT.drop(['Holding_Policy_Duration','Health Indicator'],axis=1)

In [63]:
train_HPT=pd.get_dummies(train_HPT, columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse'])

In [64]:
test_HPT=test_HPT.drop(['Holding_Policy_Duration','Health Indicator'],axis=1)

In [65]:
test_HPT=pd.get_dummies(test_HPT, columns=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse'])

In [73]:
X=train_HPT.loc[:, train_HPT.columns != 'ID']
y=train_HPT['Holding_Policy_Type']

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=100)

In [81]:
y.unique()

[3.0, 1.0, 4.0, 2.0]
Categories (4, float64): [3.0, 1.0, 4.0, 2.0]

In [ ]:
'''
Model Performance
'''
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred1 = logreg.predict(y_train)
accuracy_log = metrics.accuracy_score(y_test, y_pred1)
print(accuracy_sm_log)

In [105]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,0.0,15,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,1.0,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,0.0,15,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,1.0,3.0,1.0,16,10404.0,0

In [106]:
df=pd

NameError: name 'X_train' is not defined